
body {
  background-color: beige;
}

h2 {
  text-align: center;
}

th {
  font-size: 1em;
  width: auto;
  padding: 1em;
  background-color: brown;
  color: bisque;
}

table {
  text-align: center;
}

table.center {
  margin-left:auto; 
  margin-right:auto;
}

td {
  padding: 1em;
}

fieldset {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}