
body {
  background-color: darksalmon;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

#down-message {
  font-size: 2em;
  text-align: center;
}

.roundImage {
  border-radius: 20px;
  border: 3px solid darkgoldenrod;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
}

ul.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li.navEl {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.data {
  font-family: 'Montserrat', sans-serif;
}