
body {
  background-color: beige;
}

span.box {
  display: inline-block;
  height: auto;
  padding: 5px;
  border: 1px solid darkgoldenrod;    
  background-color: lightgoldenrodyellow; 
}

th {
  padding: 2em;
}