
body {
  background-color: beige;
}

span.box {
  display: inline-block;
  height: auto;
  padding: 5px;
  border: 1px solid darkgoldenrod;    
  background-color: lightgoldenrodyellow; 
}

th {
  font-size: 1em;
  width: auto;
  padding: 1em;
  background-color: brown;
  color: bisque;
}

table {
  border-radius: "20";
}