
body {
  background-color: darksalmon;
}

h1 {
  text-align: center;
}

#down-message {
  font-size: 2em;
  text-align: center;
}

.roundImage {
  border-radius: 20px;
  border: 3px solid darkgoldenrod;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
}